/* GLOBAL */

:root {
    --primary-color: #ff6600;
    --bg-dark-light: #232220;
    --bg-light: #232220;
    --text-dark-light: #fff;
    --font-color: #c2d0da;
    --text-dark: #fff;
    --bg-grey: #282828;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    overflow: auto;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.title>h1 {
    font-size: 3.375rem;
    font-weight: 600;
    line-height: 64px;
    color: #fff;
}

.title>p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    font-family: 'Pacifico', cursive;
}

.title>h2 {
    font-size: 2.375rem;
    line-height: 48px;
    font-weight: 600;
}

.button {
    padding: 12px 45px;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all 0.5s;
    background-color: transparent;
    color: #fff;
}

.button--primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.button:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.button--primary:hover {
    background-color: rgba(255, 102, 0, 0.6);
    border-color: rgba(255, 102, 0, 0.6);
    color: #fff;
}

/* HEADER */

header {
    padding: 40px 0;
    width: 100%;
    position: absolute;
    z-index: 100;
}

header .navbar {
    padding: 8px 0;
}

.header__logo a {
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
}

.header__right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__form {
    position: relative;
    padding: 10px 50px 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    height: 45px;
    background-color: var(--bg-dark-light);
    border: 1px solid var(--bg-dark-light);
    color: #c2d0da;
}

.header__form:focus {
    border-color: #fff;
    color: #c2d0da;
    box-shadow: none;
    background-color: var(--bg-dark-light);
    border: 1px solid var(--bg-dark-light);
}

.header__search {
    position: absolute;
    right: 25px;
    font-size: 0.9375rem;
    color: #c2d0da;
    cursor: pointer;
}

.header__light-dark {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 20px;
}

.header__searchIcon {
    background-color: transparent;
    border-color: transparent;
    margin-left: 30px;
}

.header__searchIcon i {
    color: #fff;
    font-size: 1.95rem;
    cursor: pointer;
}

header .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

header .overlay.open {
    display: flex;
}

header .overlay__text li {
    margin: 20px 0;
}

header .overlay__text a {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.5s;
}

header .overlay__text a:hover {
    color: var(--primary-color);
}

header .btn__close i {
    position: absolute;
    font-size: 20px;
    color: #fff;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
}

/* CAROUSEL */

.carousel {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url("../img/banner1.jpg");
    padding: 180px 0 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel h2 {
    font-size: 3.375rem;
    font-weight: 600;
    line-height: 64px;
    color: #fff;
    max-width: 600px;
}

.carousel p {
    font-size: 1rem;
    line-height: 28px;
    color: #fff;
    max-width: 600px;
}

/* ABOUT US */

.aboutUs {
    padding: 70px 0;
    background-color: var(--bg-dark-light);
}

.aboutUs .title {
    margin-bottom: 25px;
}

.aboutUs .title h2 {
    color: var(--text-dark-light);
}

.aboutUs__right {
    font-size: 1.125rem;
    line-height: 28px;
    color: var(--text-dark);
}

/* RESTAURANTS */

.restaurants {
    background-color: var(--primary-color);
}

.restaurants .row {
    margin-right: auto;
}

.restaurants__img {
    background-image: url("../img/banner3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 600px;
    z-index: 1;
}

.restaurants__img::before {
    content: "";
    background: rgba(16, 15, 19, 0.46);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.restaurants__right .title p {
    color: #fff;
}

.restaurants__right .title h2 {
    color: #fff;
}

.restaurants__right p {
    font-size: 1.125rem;
    line-height: 27px;
    color: #ffdfc9;
}

.restaurants__item i {
    font-size: 25px;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    line-height: 70px;
    color: var(--primary-color);
    background-color: #fff;
    text-align: center;
    transition: all 0.5s;
}

.restaurants__item h3 {
    font-size: 1.25rem;
    line-height: 20px;
    font-weight: 800;
    cursor: pointer;
    color: var(--text-dark-light);
}

.restaurants__item h3:hover {
    opacity: 0.9;
}

.restaurants__item:hover i {
    color: #ffc600;
}

/* NEW */

.new {
    padding: 100px 0;
    background-color: #282828;
}

.new .title p {
    margin-bottom: 0;
}

.new .title h2 {
    color: var(--text-dark-light);
}

.new__item {
    cursor: pointer;
}

.new__img {
    position: relative;
}

.new__img::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    border-radius: 0 0 6px 6px;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 40%;
}

.new__img img {
    width: 100%;
    border-radius: 6px;
    transition: all 0.5s;
}

.new__img img:hover {
    opacity: 0.85;
}

.new__text {
    position: absolute;
    bottom: 0;
    color: #fff;
}

.new__text h3 {
    font-size: 1.375rem;
    line-height: 30px;
    font-weight: 700;
}

.new__text p {
    color: #ffc600;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* SERVICE */

.service {
    padding: 100px 0;
    background-color: var(--bg-dark-light);
}

.service__content {
    padding: 40px 40px;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}

.service__content:hover {
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.service__icon i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: var(--primary-color);
    background-color: #282828;
    border-radius: 6px;
    transition: all 0.5s;
    font-size: 1.5625rem;
}

.service__content:hover .service__icon i {
    background-color: var(--primary-color);
    color: #fff;
}

.service__bottom,
.service__text p {
    color: #c2d0da;
    font-size: 1.125rem;
    line-height: 28px;
}

.service__text h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.service__text h3:hover {
    color: var(--primary-color);
}

/* ngoc */
#ngoc {
    font-size: 16px;
    color: var(--font-color);

}

#ngoc p {
    margin: 0;

    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
}

#deliciousness {
    background: var(--bg-dark-light);
}

#deliciousness .deliciousness_top {
    background-image: url(../img/banner2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

#deliciousness .title h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    max-width: 800px;
}

.over-play {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(16 15 19 / 66%);
    top: 0;
    left: 0;
    z-index: -1;
}

#deliciousness .title {
    text-align: center;
}

#deliciousness .deliciousness_content {
    max-width: 700px;
    margin: 0 auto;
}

.deliciousness_button {
    text-align: center;
}

#deliciousness .button_left,
#deliciousness .button_right {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: .3s ease-in;
}

#deliciousness .button_left a,
#deliciousness .button_right a {
    color: #fff;
}

#deliciousness .button_left {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;

}

#deliciousness .button_left:hover {
    background: #fff;
    color: var(--primary-color);
}

#deliciousness .button_right:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    opacity: 0.8;
}

#deliciousness .button_right {
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    color: #fff;

}

/*  */
.deliciousness_sevrvice {
    text-align: center;
    background: var(--bg-dark-light);

}

#deliciousness .deliciousness_item {
    padding: 40px 20px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    transition: .3s ease;
    background: var(--bg-dark-light);
    position: relative;
    z-index: 10;
    margin-top: -70px;

}

#deliciousness .deliciousness_item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: .3s ease;
}

#deliciousness .deliciousness_item span {
    margin: 1rem auto;
    color: #fff;
    width: 68px;
    height: 68px;
    line-height: 68px;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 26px;
    margin-bottom: 0.2rem;
}

#deliciousness .deliciousness_item h4 {
    font-size: 2.6em;
    font-weight: 600;
    color: var(--text-dark-light);
}

#deliciousness .deliciousness_item p {
    text-transform: capitalize;
    font-weight: 600;
}

/*  */
.new-block {
    background: var(--bg-dark-light);
}

.w3l-videohny .history-info {
    background: url(../img/banner3.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    min-height: 500px;
    border-radius: 6px;
}

.w3l-videohny .history-info:before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: var(--border-radius);
}

.w3l-videohny span.video-play-icon:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    background: var(--primary-color);
    border: transparent;
    color: #fff;
}

.w3l-videohny .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
    position: absolute;
}

.w3l-videohny span.video-play-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
    color: var(--primary-color);
    border: transparent;
    background: #fff;
}

/*  */
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
    position: relative;
}

/*  */
.mfp-close-btn-in .mfp-close {
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: -10%;
    right: -2%;
    opacity: 1;
}

/*  blog*/
#blog {
    background-color: var(--bg-grey);
    padding: 90px 15px;
}

#blog .card {
    background-color: var(--bg-grey);
}

#blog .title h2 {
    color: var(--text-dark-light);
}

#blog .title {
    text-align: center;
}

#blog .card-img-top {
    position: relative;
}

#blog .card-img-top img {
    width: 100%;
}

#blog .blog_time {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
}

#blog .blog_time a {
    color: #fff;
    font-weight: 600;
    padding: .2rem 1rem;
    background-color: var(--primary-color);
    border-radius: 35px;
    margin-right: .5rem;

}

#blog .blog_item .card {
    border: transparent;
}

#blog .card-img-top {
    border-radius: 2%;
    overflow: hidden;
}

#blog .card-body {
    padding: 1rem 0;
}

#blog .card-body h4 {
    font-weight: 600;
    line-height: 2rem;
    color: var(--text-dark-light);
}

#blog .card_infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#blog .card_infor_left img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

#blog .card_infor_left a {
    display: flex;
    align-items: center;
    gap: 10px;
}

#blog .card_infor_left p {
    font-weight: 700;
    color: var(--text-dark-light);
    letter-spacing: .02em;
    font-size: 1rem;
}

#blog .card_infor_right a {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-dark-light);
    transition: all .1s;
}

#blog .card_infor_right a:hover {
    color: var(--primary-color);
}

/*  */
#testimonials {
    text-align: center;
    padding: 48px 0;
    background: var(--bg-dark-light);
}

#testimonials h3 {
    color: var(--text-dark-light);
}

#testimonials .testimonials_item {
    max-width: 700px;
    margin: auto;
}

#testimonials .title h1 {
    color: var(--text-dark-light);
    margin-bottom: 48px;
}

#testimonials .card {
    border: transparent;
    background-color: var(--bg-dark-light);

}

#testimonials .card .card-img-top {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.card-body {
    padding: 0;
}

#testimonials .card-title i {
    font-size: 1.5rem;
    color: var(--primary-color)
}

#testimonials .card-title p {
    font-weight: 600;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--text-dark-light);
}

#testimonials .card-text {
    font-size: 18px;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    color: var(--text-dark-light);
}

#testimonials .test_cus {
    color: var(--font-color);
}

#testimonials .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--primary-color);
}

footer {
    background-color: #000;
    color: #fff;
}

footer .footer_item p,
footer .footer_item a {

    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

footer .footer_item1 h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

footer .footer_item1 a {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

footer .footer_item1 a {
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    background-color: var(--bg-dark-light);
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

footer .footer_item1 a:hover {
    color: #fff;
    background-color: var(--primary-color);
}


footer .footer_item h3 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 40px;
    font-weight: 700;
    position: relative;
    color: #fff;
}

footer .footer_item li {
    margin-bottom: 1rem;
}

footer .footer_item li a:hover {
    color: var(--primary-color);
}

footer .footer_item form {
    margin-top: 25px;

}

footer .footer_item input {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    border-radius: 6px;
}

footer .footer_item .btn_footer {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: #fff;
    margin-top: 1rem;
}

/*  */
#copyright {
    padding: 1.2em 0;
    background: #000;
    border-top: 1px solid rgb(255 255 255 / 5%);
}

#copyright,
.copyright_info a {
    color: #ddd;
}

#copyright ul {
    display: flex;
    margin-bottom: 0;
}

#copyright p {
    align-self: center;
    color: #ddd;
    font-size: 17px;

}

#copyright p a {
    color: var(--primary-color);
}

#copyright p a:hover,
.copyright_info a:hover {
    color: #fff;
}

/*  */
#movetop {
    display: none;
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3s ease-out;
}

/*  */
@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}