@media (max-width: 576px) {
    .header__right nav {
        display: none;
    }
}

@media (max-width: 992px) {
    .restaurants__img img {
        height: 200px;
    }

    .restaurants__left .overlay {
        top: 48px;
        left: 15px;
        right: 15px;
    }
}